[Unit]
Description=Precision Time Protocol (PTP) service
Documentation=man:ptp4l
After=sys-subsystem-net-devices-%i.device

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/ptp4l
ExecStart=/usr/sbin/ptp4l $OPTIONS -i %I

[Install]
WantedBy=multi-user.target
